{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/registro.css' %}">
  <link rel="icon" type="image/png" href="../assets/img/logoNegro.png">

<style>

      .messages {
        margin-bottom: 15px;
        margin-top: 10px;
      }

      .message {
        background-color: rgba(0, 128, 0, 0.1); /* Verde suave */
        border: 1px solid green;
        padding: 10px;
        border-radius: 8px;
        color: green;
        font-weight: bold;
        text-align: center;
      }
      .error {
        background-color: rgba(255, 0, 0, 0.1); /* Rojo suave */
        border: 1px solid red;
        padding: 10px;
        border-radius: 8px;
        color: red;
        font-weight: bold;
        text-align: center; 
      }

      
    </style>

</head>
<body>

  <div class="form-container">
    <p class="title">Registrate en <br> Fantasia Intima</p>

    <div class="inputs">
      <form class="form" method="post" action="{% url 'registro' %}">
        {% csrf_token %}
        <div class="container1">
          <input type="text" name="PrimerNombre" placeholder="Primer Nombre" value="{{ valores.PrimerNombre }}">
          <input type="text" name="OtrosNombres" placeholder="Otros Nombres" value="{{ valores.OtrosNombres }}">
        </div>

        <div class="container2">
          <input type="text" name="PrimerApellido" placeholder="Primer Apellido" value="{{ valores.PrimerApellido }}" >
          <input type="text" name="SegundoApellido" placeholder="Segundo Apellido" value="{{ valores.SegundoApellido }}">
        </div>

        <div class="container3">
          <input type="email" name="Correo" placeholder="Correo" value="{{ valores.Correo }}">
          
          <input type="text" name="NombreUsuario" placeholder="Nombre Usuario" value="{{ valores.NombreUsuario }}">
        </div>

        

        <div class="container4">
          <input type="password" name="Contrasena" placeholder="Contraseña">

          {% if messages %}
      <div class="messages">
          {% for message in messages %}
          <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
              {{ message }}
          </div>
          {% endfor %}
      </div>
      {% endif %}
          <button type="submit" class="form-btn">Registrarse</button>
        </div>
      </form>
      
      <p class="sign-up-label">
        Ya tienes una Cuenta?<a class="sign-up-link" href="{% url 'login' %}">Inicia Sesion</a>
      </p>
      <br>

   <!-- Botón de Google -->
   <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-login-button" style="display: flex; align-items: center; gap: 8px; background-color:rgba(0, 0, 0, 0.3); color: white; padding: 10px 20px; border-radius: 15px; text-decoration: none;">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" x="0px" y="0px" class="google-icon" viewBox="0 0 48 48" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
      <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
      <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
      <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
      <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
    </svg>
    <span>Registrarse con Google</span>
  </a>
    </div>

    <div class="buttons-container">
    </div>
  </div>

  <script>

  </script>
</body>
</html>